<html metal:use-macro="/admin/wrapper/main.html/layout" metal:define-macro="process_edit_wrapper">

    <div metal:fill-slot="main_content">
        <div id="main_content"> 

            <div class="row">
                <div class="span4">
                    <tal:block tal:condition="php:!empty(code_process)">
                        <h3>Process Edition</h3>
                    </tal:block>
                    <tal:block tal:condition="php:empty(code_process)">
                        <h3>New Process</h3>
                    </tal:block>
                </div>
                <div id="button_demo" class="btn offset3 btn-warning span2" style="visibility:hidden"><i class="icon-play-circle icon-white"></i>&nbsp;Demo&nbsp;</div>
                <div id="button_login_process" style="visibility:hidden" class="btn span2">Go to Process&nbsp;<i class="icon-random"></i></div>
            </div>
            <blockquote id="url_label" class="pull-right" style="visibility:hidden">
                Url: <span class="text-info">www.questionnaire-titq.rhcloud.com/p/<span id="url_process_code"></span></span>
            </blockquote>
            <div class="row">
                <div class="span10">
                    <ul class="nav nav-pills" id="tab_edition">
                        <li class="active"><a id="tab_process" href="#process_edit" data-toggle="tab">Process</a></li>
                        <li><a id="tab_activity" href="#process_questionnaire" data-toggle="tab">Activities</a></li>
                        <li><a id="tab_resources" href="#process_resources" data-toggle="tab">Resources</a></li>
                        <li><a id="tab_users" href="#process_users" data-toggle="tab">Users</a></li>
                        <!--
                        <li><a id="tab_templates" href="#process_templates" data-toggle="tab">Templates</a></li>
                        -->
                    </ul>
                </div>
            </div>
            <tal:block metal:define-slot="main_process_edit"/>
        </div>
    </div>


</html>
